<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="messages">
  <div class="message info" th:if="${message}">
    <p th:text="${message}">Message</p>
  </div>
  <div class="message warn" th:if="${warning}">
    <p th:text="${warning}">Warning</p>
  </div>
  <div class="message error" th:if="${error}">
    <p th:text="${error}">Error</p>
  </div>
  <div class="message error" th:if="${param.error}">
    <p th:text="#{login.error}">Login failed</p>
  </div>
</div>

</html>