<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="layout/header :: head"></head>

<body>

<header th:substituteby="layout/header :: header"></header>

<div class="container mt-3">

  <div th:substituteby="layout/messages :: messages"></div>

  <div class="row">
    <h2 th:text="#{forgotpassword.title}">RESET PASSWORD</h2>
  </div>
  <div class="row">
    <h4 th:text="#{forgotpassword.title.user(${user.name})}">User: A User</h4>
  </div>

  <div class="row">
    <div class="col-12">
      <form class="form-horizontal" id="password" method="post" role="form" th:action="@{/forgot-password-change}">

        <input th:name="login" th:value="${user.login}" type="hidden"/>
        <div class="form-group">
          <label class="control-label" for="newPassword1Input" th:text="#{forgotpassword.form.newpassword1}">New
            password:</label>
          <input class="form-control" id="newPassword1Input" name="newPassword1" required="required" type="password"/>

        </div>
        <div class="form-group">
          <label class="control-label" for="newPassword2Input" th:text="#{forgotpassword.form.newpassword2}">Repeat new
            password:</label>
          <input class="form-control" id="newPassword2Input" name="newPassword2" required="required" type="password"/>

        </div>
        <div class="form-group">
          <button class="btn btn-primary" th:text="#{forgotpassword.form.submit}" type="submit">Change</button>
        </div>
      </form>
    </div>
  </div>

</div>

</body>

</html>