<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="layout/header :: head"></head>

<body>

<header th:substituteby="layout/header :: header"></header>

<div class="container">

  <header th:substituteby="layout/admin/header :: header"></header>

  <h1>Manage Game in competition "<span th:text="${competition.getName(#locale)}">One Competition</span>"</h1>

  <form method="post" th:action="@{save}" th:object="${game}">

    <fieldset>

      <input th:field="*{id}" type="hidden"/>

      <div>
        <label for="roundSelect">Round</label>
        <select id="roundSelect" th:field="*{roundId}">
          <option th:each="r : ${allRounds}" th:text="${r.getName(#locale)}" th:value="${r.id}">One round</option>
        </select>
      </div>

      <div>
        <label for="orderInput">Game order</label>
        <input id="orderInput" th:field="*{order}" type="number"/>
      </div>

      <div>
        <label for="dateInput">Date</label>
        <input id="dateInput" th:field="*{date}" type="date"/>
      </div>

      <div>
        <label for="timeInput">Time</label>
        <input id="timeInput" th:field="*{time}" type="text"/>
      </div>

      <div id="name">
        <label for="nameInput">Name</label>
        <input id="nameInput" required="required" th:field="*{name}" type="text"/>
        <a href="#" onclick="$.org.jgayoso.ncomplo.lang.add('name');">add language</a>
      </div>

      <div class="name-lang-existing lang-element" th:each="nameLang : *{namesByLang}">
        <input class="langInput" th:field="*{namesByLang[__${nameLangStat.index}__].lang}" type="text"/>
        <input class="valueInput" th:field="*{namesByLang[__${nameLangStat.index}__].value}" type="text"/>
        <a href="#" onclick="$.org.jgayoso.ncomplo.lang.remove(this);">delete</a>
      </div>
      <div class="lang-element" id="name-lang-prototype">
        <input class="langInput" id="namesByLang$index$.lang" name="namesByLang[$index$].lang" type="text" value=""/>
        <input class="valueInput" id="namesByLang$index$.value" name="namesByLang[$index$].value" type="text" value=""/>
        <a href="#" onclick="$.org.jgayoso.ncomplo.lang.remove(this);">delete</a>
      </div>

      <div>
        <label for="defaultBetTypeSelect">Bet Type</label>
        <select id="defaultBetTypeSelect" th:field="*{defaultBetTypeId}">
          <option th:each="b : ${allBetTypes}" th:text="${b.getName(#locale)}" th:value="${b.id}">One bet type</option>
        </select>
      </div>

      <div>
        <label for="gameSideASelect">Team/Player A</label>
        <select id="gameSideASelect" th:field="*{gameSideAId}">
          <option value="">Undefined</option>
          <option th:each="gs : ${allGameSides}" th:text="${gs.getName(#locale)}" th:value="${gs.id}">One team/player
          </option>
        </select>
      </div>

      <div>
        <label for="gameSideBSelect">Team/Player B</label>
        <select id="gameSideBSelect" th:field="*{gameSideBId}">
          <option value="">Undefined</option>
          <option th:each="gs : ${allGameSides}" th:text="${gs.getName(#locale)}" th:value="${gs.id}">One team/player
          </option>
        </select>
      </div>

      <div>
        <label for="scoreAInput">Score A</label>
        <input id="scoreAInput" th:field="*{scoreA}" type="number"/>
      </div>

      <div>
        <label for="scoreBInput">Score B</label>
        <input id="scoreBInput" th:field="*{scoreB}" type="number"/>
      </div>

    </fieldset>

    <input type="submit"/>

  </form>

  <a th:href="@{list}">Back to list of Games</a>

</div>

</body>

</html>