<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="layout/header :: head"></head>

<body>

<header th:substituteby="layout/header :: header"></header>

<div class="container">

  <header th:substituteby="layout/admin/header :: header"></header>

  <div th:substituteby="layout/messages :: messages"></div>

  <h1>Manage Competition</h1>

  <form method="post" th:action="@{save}" th:object="${competition}">

    <fieldset>

      <input th:field="*{id}" type="hidden"/>

      <div id="name">
        <label for="nameInput">Name</label>
        <input id="nameInput" required="required" th:field="*{name}" type="text"/>
        <a href="#" onclick="$.org.jgayoso.ncomplo.lang.add('name');">add language</a>
      </div>

      <div class="name-lang-existing lang-element" th:each="nameLang : *{namesByLang}">
        <input class="langInput" th:field="*{namesByLang[__${nameLangStat.index}__].lang}" type="text"/>
        <input class="valueInput" th:field="*{namesByLang[__${nameLangStat.index}__].value}" type="text"/>
        <a href="#" onclick="$.org.jgayoso.ncomplo.lang.remove(this);">delete</a>
      </div>
      <div class="lang-element" id="name-lang-prototype">
        <input class="langInput" id="namesByLang$index$.lang" name="namesByLang[$index$].lang" type="text" value=""/>
        <input class="valueInput" id="namesByLang$index$.value" name="namesByLang[$index$].value" type="text" value=""/>
        <a href="#" onclick="$.org.jgayoso.ncomplo.lang.remove(this);">delete</a>
      </div>

      <div>
        <label for="activeCheck">Active</label>
        <input id="activeCheck" th:field="*{active}" type="checkbox"/>
      </div>

      <div id="uri">
        <label for="uriInput">Updater URI</label>
        <input id="uriInput" th:field="*{updaterUri}" type="text"/>
      </div>

      <div class="collapsible" id="parseroptions">
        <h1>Excel parser configuration</h1>
        <label>Update parser properties: </label>
        <input name="updateProperties" th:field="*{updateProperties}" type="checkbox"/>

        <div class="collapsible" id="TeamsProperties">
          <div>
            <label for="teamsSheetName">Teams sheet name</label>
            <input id="teamsSheetName" th:field="*{teamsSheetName}" type="text"/>
          </div>
          <div>
            <label for="teamsColumnName">Teams column name</label>
            <input id="teamsColumnName" th:field="*{teamsColumnName}" type="text"/>
          </div>
          <div>
            <label for="teamsStartIndex">Teams first row number</label>
            <input id="teamsStartIndex" th:field="*{teamsStartIndex}" type="number"/>
          </div>
          <div>
            <label for="teamsNumber">Number of teams</label>
            <input id="teamsNumber" th:field="*{teamsNumber}" type="number"/>
          </div>
        </div>
        <div class="collapsible" id="CommonNames">
          <div>
            <label for="groupsName">Name for Groups round</label>
            <input id="groupsName" th:field="*{groupsName}" type="text" value="Groups"/>
          </div>
          <div>
            <label for="roundOf16Name">Name for Round of 16 round</label>
            <input id="roundOf16Name" th:field="*{roundOf16Name}" type="text" value="Round of 16"/>
          </div>
          <div>
            <label for="quarterFinalsName">Name for Quarter Finals round</label>
            <input id="quarterFinalsName" th:field="*{quarterFinalsName}" type="text" value="Quarter Finals"/>
          </div>
          <div>
            <label for="semiFinalsName">Name for Semi Finals round</label>
            <input id="semiFinalsName" th:field="*{semiFinalsName}" type="text" value="Semifinals"/>
          </div>
          <div>
            <label for="finalName">Name for Final round</label>
            <input id="finalName" th:field="*{finalName}" type="text" value="Final"/>
          </div>
        </div>

        <div class="collapsible" id="GamesProperties">
          <div>
            <label for="gamesSheetName">Games sheet name</label>
            <input id="gamesSheetName" th:field="*{gamesSheetName}" type="text"/>
          </div>
          <div>
            <label for="groupGamesColumnName">Games groups column name</label>
            <input id="groupGamesColumnName" th:field="*{groupGamesColumnName}" type="text"/>
          </div>
          <div>
            <label for="groupGamesStartIndex">Games first row number</label>
            <input id="groupGamesStartIndex" th:field="*{groupGamesStartIndex}" type="number"/>
          </div>
          <div>
            <label for="groupGamesNumber">Number of games in groups</label>
            <input id="groupGamesNumber" th:field="*{groupGamesNumber}" type="number"/>
          </div>
          <div>
            <label for="groupsGamesHomeIndex">Groups home team index</label>
            <input id="groupsGamesHomeIndex" th:field="*{groupsGamesHomeIndex}" type="number"/>
          </div>
          <div>
            <label for="groupsGamesAwayIndex">Groups away team index</label>
            <input id="groupsGamesAwayIndex" th:field="*{groupsGamesAwayIndex}" type="number"/>
          </div>
          <div>
            <label for="groupsGamesDateIndex">Groups games date index</label>
            <input id="groupsGamesDateIndex" th:field="*{groupsGamesDateIndex}" type="number"/>
          </div>
          <div>
            <label for="groupsGamesHourIndex">Groups games hour index</label>
            <input id="groupsGamesHourIndex" th:field="*{groupsGamesHourIndex}" type="number"/>
          </div>
          <div>
            <label for="groupsGamesDateFormat">Groups games date format</label>
            <input id="groupsGamesDateFormat" th:field="*{groupsGamesDateFormat}" type="text"/>
          </div>
          <div>
            <label for="playoffsGamesDateIndex">Playoffs games date index</label>
            <input id="playoffsGamesDateIndex" th:field="*{playoffsGamesDateIndex}" type="number"/>
          </div>
          <div>
            <label for="playoffsGamesHourIndex">Playoffs games hour index</label>
            <input id="playoffsGamesHourIndex" th:field="*{playoffsGamesHourIndex}" type="number"/>
          </div>
          <div>
            <label for="playoffsGamesDateFormat">Playoffs games date format</label>
            <input id="playoffsGamesDateFormat" th:field="*{playoffsGamesDateFormat}" type="text"/>
          </div>

          <div>
            <label for="roundOf16GamesColumnName">Round of 16 games column name</label>
            <input id="roundOf16GamesColumnName" th:field="*{roundOf16GamesColumnName}" type="text"/>
          </div>
          <div>
            <label for="roundOf16GamesStartIndex">Round of 16 games start index</label>
            <input id="roundOf16GamesStartIndex" th:field="*{roundOf16GamesStartIndex}" type="number"/>
          </div>
          <div>
            <label for="roundOf16GamesJumpSize">Round of 16 games jump size</label>
            <input id="roundOf16GamesJumpSize" th:field="*{roundOf16GamesJumpSize}" type="number"/>
          </div>

          <div>
            <label for="quarteFinalsGamesColumnName">Quarter Finals games column name</label>
            <input id="quarteFinalsGamesColumnName" th:field="*{quarteFinalsGamesColumnName}" type="text"/>
          </div>
          <div>
            <label for="quarteFinalsGamesStartIndex">Quarter Finals games start index</label>
            <input id="quarteFinalsGamesStartIndex" th:field="*{quarteFinalsGamesStartIndex}" type="number"/>
          </div>
          <div>
            <label for="quarteFinalsGamesJumpSize">Quarter Finals games jump size</label>
            <input id="quarteFinalsGamesJumpSize" th:field="*{quarteFinalsGamesJumpSize}" type="number"/>
          </div>

          <div>
            <label for="semiFinalsGamesColumnName">Semi Finals games column name</label>
            <input id="semiFinalsGamesColumnName" th:field="*{semiFinalsGamesColumnName}" type="text"/>
          </div>
          <div>
            <label for="semiFinalsGamesStartIndex">Semi Finals games start index</label>
            <input id="semiFinalsGamesStartIndex" th:field="*{semiFinalsGamesStartIndex}" type="number"/>
          </div>
          <div>
            <label for="semiFinalsGamesJumpSize">Semi Finals games jump size</label>
            <input id="semiFinalsGamesJumpSize" th:field="*{semiFinalsGamesJumpSize}" type="number"/>
          </div>

          <div>
            <label for="finalGamesColumnName">Final game column name</label>
            <input id="finalGamesColumnName" th:field="*{finalGamesColumnName}" type="text"/>
          </div>
          <div>
            <label for="finalGamesStartIndex">Final game row index</label>
            <input id="finalGamesStartIndex" th:field="*{finalGamesStartIndex}" type="number"/>
          </div>


        </div>
      </div>

    </fieldset>

    <input type="submit"/>

  </form>

  <a th:href="@{list}">Back to list of Competitions</a>

</div>

</body>

</html>