<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="layout/header :: head"></head>

<body>

<header th:substituteby="layout/header :: header"></header>

<div class="container">

  <header th:substituteby="layout/admin/header :: header"></header>

  <h1>Send notification</h1>
  <div class="row">
    <form method="post" th:action="@{doNotification}" th:object="${notificationBean}">
      <fieldset>
        <input th:field="*{leagueId}" type="hidden"/>

        <div id="subject">
          <label for="subjectInput">Subject</label>
          <input id="subjectInput" required="required" th:field="*{subject}" type="text"/>
        </div>

        <div id="text">
          <label for="textInput">Email text</label>
          <textarea cols="50" id="textInput" required="required" rows="4" th:field="*{text}">Email text </textarea>
        </div>
      </fieldset>
      <input type="submit"/>
    </form>
  </div>

  <a th:href="@{list}">Back to list of Leagues</a>

</div>

</body>

</html>